services:

  chain:
    image: docker-regis.iex.ec/poco-chain:1.2.2-poco-v6.2.0-contracts-nethermind
    expose:
      - "8545"

  core:
    image: wiremock/wiremock:3.3.1
    expose:
      - "8080"
    volumes:
      - "./src/test/resources/wiremock/mappings:/home/wiremock/mappings"
